body {
  font-family: 'Open Sans', sans-serif;
  background-color: yellow;
}
.SearchInputWrapperOwerlay {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
}

.SearchInputWrapper {
  margin: auto;
  width: 40%;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 8px 8px 0px 0px;
  position: relative;
}

.ResultWrapper {
  
}

#searchInput {
  display: block;
  width: 100%;
  height: 56px;
  margin: auto;
  border: 0px;
  outline: none;
  font-size: 1.6rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #d1d1d1;
  padding: 20px 20px;
  border-radius: 3px;
}

.typeahead__list {
  display: none!important;
}

#output.show .typeahead__list{
  display:block !important;
}

.typeahead__list {
    position: absolute;
    left: 0;
    z-index: 4;
    width: 100%;
    min-width: 160px;
    padding: 5px 0;
    margin: 10px 0 0;
    list-style: none;
    text-align: left;
    background-color: #ebebeb;
    border-radius: 0 0 8px 8px;
    background-clip: padding-box;
}

.typeahead__list>li:first-child {
  border-top: none;
}

.typeahead__list>li {
  position: relative;
  border-top: 1px solid #d1d1d1;
}

.typeahead__list>li.selected {
background-color: #d1d1d1;
}
.typeahead__list .typeahead__item>a {
  display: block;
  padding: .5rem .75rem;
  clear: both;
  color: #333;
  text-decoration: none;
}


.typeahead__list li a {
  position: relative;
}

.typeahead__list .row {
  display: table-row;
}

.typeahead__list .row>* {
  display: table-cell;
  vertical-align: middle;
}

.typeahead__list .avatar img {
  /* height: 26px; */
  /* width: 26px; */
}

.typeahead__list .username {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.typeahead__list .desc {
  display:block;
  font-size:70%;
  color:#AFB0B0;

}